
.MuiAppBar-colorPrimary {
  background-color: rgb(75, 75, 216);
}

.MuiButtonBase-root:hover {
  transform: scale(1.1);
  background-color: rgb(16, 240, 54);
}

ul {
  background-color: rgb(29, 29, 82);
}


li:hover {
  transform: scale(1.1);
  background-color: rgb(36, 91, 194);
}

.MuiListItemText-primary {
  color: rgb(255, 255, 255);
}

.MuiTypography-h6 {
  color: rgb(7, 214, 28);
}
