
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(1, 15, 11);
}

ul {
  background-color: rgb(29, 29, 82);
}

span:hover {
  transform: scale(1.1);
  background-color: rgb(6, 38, 99);
}

li:hover {
  transform: scale(1.1);
  background-color: rgb(36, 91, 194);
}

.MuiListItemText-primary {
  color: rgb(255, 255, 255);
}

.MuiTypography-h6 {
  color: rgb(7, 214, 28);
}
